disable_mlock = true
max_least_ttl = "10h"
default_lease_ttl = "10h"
ui = true

api_addr     = "http://{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}:8200"
cluster_addr     = "https://{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}:8201"

storage "consul" {
  address = "127.0.0.1:8500"
  path    = "vault"
}

// ha_storage "consul" {
//         scheme = "http"
//         address = "127.0.0.1:8500"
//         advertise_addr = "https://{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}:8200"
//         path = "vault"
//         disable_registration = "true"
//     }

listener "tcp" {
  address     = "0.0.0.0:8200"
  #address     = "{{ hostvars[inventory_hostname][ 'ansible_' + network_interface ].ipv4.address }}:8200"
  cluster_address     = "{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}:8201"
  tls_disable = 1
}


/**
telemetry {
  #statsite_address = "127.0.0.1:8125"
  #statsite_address = "{{ hostvars[inventory_hostname][ 'ansible_' + network_interface ].ipv4.address }}:8125"
  statsite_address = "{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}" 
  disable_hostname = true
}

**/