[Unit]
Description="HashiCorp Nomad - Application scheduler"
Documentation=https://www.vaultproject.io/
Requires=network-online.target
After=network.target
ConditionFileNotEmpty=/etc/vault.d/vault.hcl

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/vault server -config=/etc/vault.d/vault.hcl
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

