data_dir = "/var/consul"
server = false

bind_addr = "{{ hostvars[inventory_hostname][ 'ansible_' + network_interface ].ipv4.address }}"

#advertise_addr = "{{ 'ansible_' + network_interface + '.ipv4.address' }}" 

client_addr = "127.0.0.1  {{ hostvars[inventory_hostname][ 'ansible_' + network_interface ].ipv4.address }}"
enable_script_checks = true
retry_join = [ "{{ hostvars["consul1"][ 'ansible_' + network_interface ].ipv4.address }}" ]
#retry_join = [ "consul1", "consul2", "consul3" ]

#recursors = ["{{ hostvars[inventory_hostname][ 'ansible_' + network_interface ].ipv4.address }}", "8.8.8.8", "8.8.4.4"]