data_dir = "/var/consul"

server = true

#advertise_addr = "{{ hostvars[inventory_hostname].ansible_eth0.ipv4.address }}"

bind_addr = "{{ hostvars[inventory_hostname][ 'ansible_' + network_interface ].ipv4.address }}"

#{{ ansible_eth0.ipv4.address }}
client_addr = "127.0.0.1  {{ hostvars[inventory_hostname][ 'ansible_' + network_interface ].ipv4.address }}"
enable_script_checks = true

{% if ansible_hostname == 'consul1' -%}
ui = true
bootstrap_expect = 3
{% else -%}
{#retry_join = [ "{{ hostvars.consul1.ansible_hostname }}" ]   #}
retry_join = [ "{{ hostvars.consul1.ansible_eth0.ipv4.address }}" ]
{% endif %}

#recursors = ["{{ hostvars[inventory_hostname][ 'ansible_' + network_interface ].ipv4.address }}", "8.8.8.8", "8.8.4.4"]
